flow_5.json
[
    {
        "id": "96f60046f25cefcc",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5792bf0cdc6d60ba",
        "type": "http request",
        "z": "96f60046f25cefcc",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=19.681160&lon=-99.033437&appid=3f54668b55a3c7eccdd31a474e20f16a&units=metric ",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 390,
        "y": 180,
        "wires": [
            [
                "3f3c513a0acd056c"
            ]
        ]
    },
    {
        "id": "3f3c513a0acd056c",
        "type": "json",
        "z": "96f60046f25cefcc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 650,
        "y": 180,
        "wires": [
            [
                "5b15851621ced9e0",
                "33b932385d167f4e"
            ]
        ]
    },
    {
        "id": "3cb85638191c5917",
        "type": "inject",
        "z": "96f60046f25cefcc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "5792bf0cdc6d60ba"
            ]
        ]
    },
    {
        "id": "fa319cbf86b7fe8f",
        "type": "ui_gauge",
        "z": "96f60046f25cefcc",
        "name": "",
        "group": "f473f4032a8d45ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1150,
        "y": 160,
        "wires": []
    },
    {
        "id": "2c84171fca996d20",
        "type": "ui_gauge",
        "z": "96f60046f25cefcc",
        "name": "",
        "group": "f473f4032a8d45ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1140,
        "y": 220,
        "wires": []
    },
    {
        "id": "5b15851621ced9e0",
        "type": "function",
        "z": "96f60046f25cefcc",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.main.temp;\nglobal.set(\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 160,
        "wires": [
            [
                "fa319cbf86b7fe8f"
            ]
        ]
    },
    {
        "id": "33b932385d167f4e",
        "type": "function",
        "z": "96f60046f25cefcc",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.main.humidity;\nglobal.set(\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 220,
        "wires": [
            [
                "2c84171fca996d20"
            ]
        ]
    },
    {
        "id": "8fe8037c591ebd75",
        "type": "mqtt in",
        "z": "96f60046f25cefcc",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "062cee51568ca50e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 400,
        "wires": [
            [
                "67ac7b9d40caecb2"
            ]
        ]
    },
    {
        "id": "67ac7b9d40caecb2",
        "type": "json",
        "z": "96f60046f25cefcc",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 400,
        "wires": [
            [
                "c8804f68233f5af3",
                "3443594d31e2a482"
            ]
        ]
    },
    {
        "id": "c8804f68233f5af3",
        "type": "function",
        "z": "96f60046f25cefcc",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 380,
        "wires": [
            [
                "82610bc883ef5f0c"
            ]
        ]
    },
    {
        "id": "82610bc883ef5f0c",
        "type": "ui_chart",
        "z": "96f60046f25cefcc",
        "name": "",
        "group": "113776e96f37b347",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "3443594d31e2a482",
        "type": "function",
        "z": "96f60046f25cefcc",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 440,
        "wires": [
            [
                "2ad65473711d44d1"
            ]
        ]
    },
    {
        "id": "2ad65473711d44d1",
        "type": "ui_chart",
        "z": "96f60046f25cefcc",
        "name": "",
        "group": "113776e96f37b347",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c2b93a1ec009557d",
        "type": "function",
        "z": "96f60046f25cefcc",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Joshua\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+'}';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 560,
        "wires": [
            [
                "3b581cbbcf59f25a",
                "552614e6a703c99f"
            ]
        ]
    },
    {
        "id": "4f4c54e138ab448f",
        "type": "inject",
        "z": "96f60046f25cefcc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "c2b93a1ec009557d"
            ]
        ]
    },
    {
        "id": "3b581cbbcf59f25a",
        "type": "mqtt out",
        "z": "96f60046f25cefcc",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "062cee51568ca50e",
        "x": 700,
        "y": 540,
        "wires": []
    },
    {
        "id": "552614e6a703c99f",
        "type": "debug",
        "z": "96f60046f25cefcc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 620,
        "wires": []
    },
    {
        "id": "99038b077ef82d08",
        "type": "comment",
        "z": "96f60046f25cefcc",
        "name": "Solicitud API",
        "info": "",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "fe3bfcd03fb5a316",
        "type": "comment",
        "z": "96f60046f25cefcc",
        "name": "Información General",
        "info": "",
        "x": 110,
        "y": 320,
        "wires": []
    },
    {
        "id": "12775d2f3fa7d1d4",
        "type": "comment",
        "z": "96f60046f25cefcc",
        "name": "Enviador",
        "info": "",
        "x": 100,
        "y": 520,
        "wires": []
    },
    {
        "id": "f473f4032a8d45ab",
        "type": "ui_group",
        "name": "Personal",
        "tab": "1b11eba7b944511a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "062cee51568ca50e",
        "type": "mqtt-broker",
        "name": "Broker HiveMQ",
        "broker": "18.156.8.172",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "113776e96f37b347",
        "type": "ui_group",
        "name": "General",
        "tab": "1b11eba7b944511a",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b11eba7b944511a",
        "type": "ui_tab",
        "name": "Flow5",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]